# See https://help.github.com/ignore-files/ for more about ignoring files.

#IDEs
.vscode/
.idea/

# dependencies
/node_modules

# testing
/coverage
.nyc_output/

# production
/build
/dist

# misc
.DS_Store
